html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Merriweather', serif; */

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

/* header__top */
.header__top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}
.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__btn{
  display: none;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  padding: 0 9px 9px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373A39;
  letter-spacing: 0.6px;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

/* header__content */

.header__content {
  margin-top: 100px;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);

}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 160px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}

/* about */

.about {
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: #242121;
  letter-spacing: -1.65px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 18px;
  align-self: flex-start;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;

}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

/* expertise */
.expertise {
  padding: 140px 0 160px;
}

.expertise__title {
  margin-bottom: 90px;
}

.expertise__inner {
  display: flex;
  margin-bottom: 110px;
}

.expertise__info {
  width: 370px;
  margin-right: 30px;
  flex: none;
  margin-top: 10px;
}

.expertise__info-item {
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
}

.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
}

.expertise__text p {
  margin-bottom: 25px;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before {
  background-image: url('../images/design.svg');
}

.expertise__item--dev::before {
  background-image: url('../images/monitor.svg');
}

.expertise__item--marketing::before {
  background-image: url('../images/marketing.svg');
}

.expertise__item-title {
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.expertise__item-text {
  color: #777777;
}

/* magic */
.magic {
  background-color: #F6F8FA;
  background-image: url('../images/marceting-img.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}

.magic__inner {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 190px;
}

.magic__title {
  margin-bottom: 67px;
}

.magic__text p {
  margin-bottom: 25px;
}

/* portfolio */

.portfolio {
  padding: 140px 0 165px;
}

.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__filter-btn {
  margin-right: 65px;
}

.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #333333;
  text-transform: uppercase;
  padding: 0 4px 5px;
  cursor: pointer;
}
.portfolio__btn + .portfolio__btn{
  margin-left: 25px;
}

.mixitup-control-active {
  border-bottom: 1px solid #FCBB08;
}

.portfolio__content {
  column-count: 4;
  column-gap: 23px;
  margin-bottom: 72px;
}

.portfolio__item {
  margin-top: 22px;
  position: relative;
}

.portfolio__item:first-child {
  margin-top: 0;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #fff;
  background-color: #4C4A4A;
  border: 12px solid #666565;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .5s;
}

.portfolio__item:hover .portfolio__item-link {
  opacity: 1;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__add {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  background: #F6F8FA;
  margin-bottom: 130px;
}

.blockquote {
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.blockquote__author {
  padding-top: 51px;
  display: block;
  color: #9E9E9E;
  font-size: 14px;
  line-height: 32px;
}

.portfolio__video {
  background-image: url('../images/video-bg.jpg');
  height: 342px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 164px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item {
  margin-bottom: 9px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
  display: block;
}

.portfolio__numbers-item span {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  display: block;
}

/* slider-blog */

.slider-blog {
  background: #F8F6FA;
  padding: 115px 0;
}

.slider-blog__item {
  padding: 190px 0;
}

.slider-blog__item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
  max-width: 675px;
  display: inline-block;
  margin-right: 23px;
}

.slider-blog__item-descr {
  max-width: 585px;
}

.slick-dots {
  display: flex;
}

.slick-dots li+li {
  margin-left: 13px;
}

.slick-dots button {
  background-color: #242121;
  opacity: 0.4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-right: 1px;
}

.slick-dots .slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
  transform: translateY(-2px);
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
}

.slick-prev {
  left: -95px;
}

.slick-next {
  right: -95px;
}

/* TEAM */

.team {
  padding: 120px 0 130px;
}

.team__title {
  margin-bottom: 100px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name {
  padding: 35px 0 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.team__position {
  font-size: 12px;
  line-height: 16px;
}

/* PRICING */
.pricing {
  background-color: #F6F8FA;
  padding: 145px 0 160px;
}

.pricing__title {
  margin-bottom: 90px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

ul.pricing__item {
  background-color: #fff;
  text-align: center;
  padding: 24px 25px 50px;
  width: 370px;
}

.pricing__item li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
  text-align-last: left;
  font-weight: bold;
  margin-bottom: 8px;
}

.pricing__item .pricing__item-num {
  font-size: 80px;
  line-height: 109px;
  margin-bottom: 50px;
}

.pricing__item-num sup {
  font-size: 40px;
  line-height: 54px;
}

.pricing__item-link {
  margin-top: 70px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;

  color: #242121;
}

.clients {
  padding: 70px 0 95px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connection {
  padding: 145px 0 160px;
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right 65%;
}

.connection__title {
  margin-bottom: 80px;
}

.form {
  max-width: 570px;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 2px solid #373A39;
  display: block;
  width: 100%;
  padding: 16px 0;
  font-weight: 700;
  margin-bottom: 16px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
  font-weight: 300;
  text-transform: uppercase;

  color: #B8B8B8;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

button {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;

  color: #FFFFFF;
  padding: 17px 70px 15px;
  background-color: #242121;
  cursor: pointer;
  margin-top: 40px;
  transition: all .3s;
}

button:hover {
  color: #242121;
  background-color: #f0f0f0;
}

/* FOOTER */
.footer__top {
  padding: 110px 10px 60px;
  background-color: #333333;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 73px;
}

ul.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.footer__social-list {
  padding: 0 15px;
}

.footer__social-link {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.footer__contact {
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 57px;
}

.footer__contact a {
  display: block;
  margin: 10px 0;
  color: #fff;
}

.go-top {
  display: inline-block;
}

.footer__copy {
  padding: 40px 10px;
  background-color: #2A2C2B;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
}
